diatom_bottom_era5_monthly_1980_2010.nc
diatom_surface_era5_monthly_1980_2010.nc
nanophytoplankton_bottom_era5_monthly_1980_2010.nc
nanophytoplankton_surface_era5_monthly_1980_2010.nc
oxygen_bottom_era5_monthly_1980_2010.nc
oxygen_surface_era5_monthly_1980_2010.nc
temp_bottom_era5_monthly_1980_2010.nc
temp_surface_era5_monthly_1980_2010.nc
